<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        
        <div class="page container">
            
            <main role="main">
                <section class="page__search">
                    <input class="page__search__input" type="search" aria-label="Search for articles on Drogheda Life" placeholder="Search for articles on Drogheda Life" />
                    <button type="submit">Search</button>
                </section>
                {{- block "main" . }}{{- end }}
            </main>
            
            <aside class="page__affiliates">
                <a href="https://www.smithsofdrogheda.com/" title="Smiths of Drogheda" target="_blank" rel="noopener nofollow"><img src="/images/smiths.jpg" alt="Advertisement For Smiths of Drogheda"></a>
                <a href="https://www.oreillyglass.ie/" title="O'Reilly Glass" target="_blank" rel="noopener nofollow"><img src="/images/oreilly.jpg" alt="Advertisement For O'Reilly Glass"></a>
                <a href="https://www.facebook.com/people/Floor-Style/100063648426216/" title="Floor Style" target="_blank" rel="nopener nofollow"><img src="/images/floor-style.jpg" alt="Advertisement For Floor Style"></a>
            </aside>
            
            <aside class="page__today">
                <div style="width: 165px; height: 600px; background-color: #c0c0c0"></div>
            </aside>
            
            {{- if ne .Title "News" -}}
                <div class="page__extras">
                    <h2 class="page__extras__title">Recent News</h2>
                    <div class="page__extras__content">
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                        <div class="dl-card">card</div>
                    </div>
                </div>
            {{end}}
        </div>

        {{- partial "footer.html" . -}}
        <script>
            const menuToggle = document.querySelector('.header__navigation-toggle');
            const navigation = document.querySelector('body');
            menuToggle.addEventListener('click', () => navigation.classList.toggle('navigation-open'));
        </script>
    </body>
</html>
