<!-- <div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL | replaceRE "/$" ""}}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>
</div> -->
<footer role="contentinfo">
    <div class="container">
        <section>
            <h4>Drogheda Life</h4>
            <p>The latest news from the Drogheda area updated every day, delivered to your mobile, laptop, desktop or tablet. First with the news, best for advertising!</p>
        </section>
        <section class="footer__links">
            <a href="/news/" class="block">News</a>
            <a href="/" class="block">Privacy Statement</a>
        </section>
        <section>
            <h4>Contact Information</h4>

        </section>
    </div>
</footer>