<!-- <div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL | replaceRE "/$" ""}}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>
</div> -->
<footer role="contentinfo" class="footer">
    <div class="container">
        <section>
            <p class="footer__title">Drogheda Life</p>
            <p>The latest news from the Drogheda area updated every day, delivered to your mobile, laptop, desktop or tablet. First with the news, best for advertising!</p>
        </section>
        <section class="footer__links">
            <a href="/news/" class="block">News</a>
            <a href="/" class="block">Privacy Statement</a>
        </section>
        <section>
            <p class="footer__title">Contact Information</p>
            <p>Drogheda</p>
            <p>Co. Louth</p>
            <a href="tel:353872962183">+353 (0)87 2962 183</a>
            <a href="mailto:news@droghedalife.com">news@droghedalife.com</a>
            <a href="https://droghedalife.com">droghedalife.com</a>
        </section>
    </div>
</footer>